:root {
  --main-color: #f4f4f4;
  --secondary-color: #ffa372;
  --outline-color: #52575d;
  --divider-color: #e5e5e5;
  --fav-iconcolor: #ea5455;
  --comment-iconcolor: #2d4059;
  --text-color: #0f3460;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-color);
  color: var(--text-color);
}

nav {
  height: 75px;
  border-bottom: 1px solid var(--divider-color);
  background: #fbf6f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section {
  padding: 1rem 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.divider {
  border-bottom: 1px solid var(--divider-color);
  width: 90%;
  margin: 1rem auto 0;
}

/* Header */
.logo {
  object-fit: contain;
}
.nav__cta ul {
  display: flex;
  list-style: none;
}

.nav__cta li {
  margin: 0 1rem;
  cursor: pointer;
}
/* End Header */

/* people */
.people {
  display: flex;
  padding: 0.4rem 0;
  flex-wrap: nowrap;
  overflow: auto;
}
.people__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.9rem;
}
.people img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.people img:hover {
  /* background: var(--secondary-color); */
  cursor: pointer;
  padding: 0.2rem;
  border: 2px solid var(--outline-color);
}
.people__name {
  margin-top: 0.3rem;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
}
/* end people */

/* feed */
.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
}

.feed__header h3 {
  padding-bottom: 0.3rem;
}
.feed__cta {
  display: flex;
  align-items: center;
}

.feed__cta select {
  /* background-color: var(--secondary-color); */
  color: var(--text-color);
  font-size: inherit;
  padding: 0.3rem;
  padding-right: 0.7rem;
  border: 0;
  margin-left: 0.3rem;
  outline: none;
  border-radius: 0.4rem;
  text-transform: capitalize;
}

.feed__cta button {
  outline: none;
  cursor: pointer;
  margin: 0 0.7rem;
  border: none;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.feed__cta button:hover {
  background: var(--secondary-color);
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
}
.feeds {
  background: #eeeded;
  border: 1px solid #e8e8e8;
}
.card {
  /* width: 365px;
  height: 195px;
  cursor: pointer; */
  margin: 1rem auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* gap: 1rem; */
}
.card a {
  text-decoration: none;
  color: inherit;
  margin: 1rem;
}
.card__image {
  width: 100%;
  object-fit: contain;
  /* border-radius: 16px; */
}
.card__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  border: 2px solid var(--outline-color);
}
.card__person,
.card__icons {
  display: flex;
  align-items: center;
}
.card__icons span {
  display: inline-block;
  margin: 0 0.3rem;
}
.card__name,
.card__date {
  margin-left: 0.3rem;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 3rem;
  padding: 0.3rem;
}
.favIcon {
  color: var(--fav-iconcolor);
}
.comIcon {
  color: var(--comment-iconcolor);
}

/* end feed */

/* Profile */
.profile {
}
.profile header {
  margin: 2rem auto;
  text-align: center;
}

.profile__avatar {
  width: 6rem !important;
  height: 6rem !important;
}
.bio {
  margin: 2rem auto;
  text-align: left;
  line-height: 1.6rem;
  font-size: 1.3rem;
}
/* End Profile */
